@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@600&family=Nanum+Gothic&display=swap');

body {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 16px;
    color: #2b2b2b;
    overflow-x: hidden;

    background: linear-gradient( 45deg, #f4f4f4, #898989, #bcbcbc);
    background-size: 200% 200%;
	animation: gradient 20s ease-in infinite;
}

.container {
    margin: auto 10%;
    border: 1px solid black;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    padding: 2%;
}

h1 {
    font-family: "Expletus Sans", serif;
    font-size: 2.5rem;
    margin-top: 2%;
    margin-bottom: 2%;
}

p {
    width: 100%;
    margin: auto;
}

ul {
    margin: 2% auto;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
}

iframe {
    margin: auto;
    max-width: 80%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

